.beerList {
    font-size: 1.2em;
    color: white;
    background-color: red;
    width: 200px;
    text-align: center;
    border-radius: 7px;
    display: block;
    margin: auto;
}

.beerChoose {
    font-size:1.2em;
    color:white;
    background-color:red;
    width:200px;
    text-align:center;
    border-radius:7px;
    display:block;
    margin:auto;
}

.select {
    font-size: 1.2em;
    color: black;
    width: 200px;
    text-align: center;
    border-radius: 7px;
    display: block;
    margin: auto;
}


